/*h1 {
            margin-bottom: 1.88em;
            margin-top: 1.25rem;
            font-weight: bolder;
            font-weight: 900;
            font-size: 2.2em;
        }
        
p {
            color: #323130;
            font-size: 0.875em;
        }*/
        
div {
            width: 50%;
            margin-left: 5%;
            margin-right: auto;
            padding: 10%;
        }
        
        .wrapper-parent {
            background-color: #DFFF4A;
            font-size: 2.5rem;
        }
        .parent {
                background-color: #2FFF44;
                font-size: 1.875rem;
            }
        .child {
                background-color: #FF6B93;
                font-size: 1.25rem;
            }
        .inner-child {
                background-color: #63AFFF;
                font-size: 0.625rem;
            }

         @media screen and(max-width: 600px){
         	body::before{
         		content: '자가용';}
         	body {background: #000;}
         	}
         @media screen and(min-width: 601px) and (max-width: 1000px){
         	body::before{
         		content: '1배';}
         	body {background: #888;}
         	}
         @media screen and(min-width: 1001px){
         	body::before{
         		content: '커용';}
         	body {background: #fff;}
         	}

